body {
  margin: 0;
  font-family:'Sofia Sans Semi Condensed', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/primaryBg.jpg');
  background-size: cover;
  height: 100vh;
}

.noScroll {
  overflow: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

p{
  margin: 0;

}

ul {
  list-style: none;

}

/* adaptiveBg */

.main {
  background-image: url('./images/mainBg.jpg');
}

.cart {
  background-image: url('./images/mainBg.jpg');
  background-size: cover;
  background-position: bottom;
}


@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}



/* Slider */

.slider {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 0px 50px 14px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
}

.slider__image-container {
  display: flex;
  width: 250px;
  height: 250px;
}

.slider__element {
  flex-shrink: 0;
  border-radius:50%;
  width: 250px;
  height: 250px;
}


.slider__title{
  flex-shrink: 0;
  top: 180px;
  color:white;
  font-size: 30px;
  width: 250px;
  height: 50px;
}

.slider__title--active {
  transform: translateX(0);
  position: absolute;
}

.slider__title:not(.slider__title--active) {
  transform: translateX(100%);
}


.slider__element--active {
  transform: translateX(0);
  position: absolute;
}

.slider__element:not(.slider__element--active) {
  transform: translateX(100%);
}

.slider__img {
flex-shrink: 0;
border-radius: 50%;
width: 250px;
height: 250px;
object-fit: cover;
}

.slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.slider__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider__button--prev {
  left: 0;
}

.slider__button--next {
  right: 0;
}

/* cart scroll  */

.simplebar-track {
  background-color: rgba(0, 0, 0, 0.30);

}

.simplebar-track.simplebar-vertical{
  width: 20px;
}

.simplebar-scrollbar::before{
background-color: green;
}
